.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# knitout files
*.k
*.knitout

# Shima DAT files
*.dat

# node
package.json
package-lock.json
node_modules/*

# allow JSON files in package
!knittingUtils/*.json